<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml - VoiceOSCore Unit Tests Module

  Copyright (C) Manoj Jhawar/Aman Jhawar, Intelligent Devices LLC
  Created: 2025-11-07

  Minimal manifest for Android library test module.
  This module contains unit tests for VoiceOSCore refactoring.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Empty manifest - this is a test-only module -->
</manifest>
